<div class="dash-extended">
  <nav>
    <div><a href="/users/<%= current_user.id %>">WUPHF</a></div>
  </nav>

  <div class="logout"><%= link_to "Logout", logout_path, method: :post %></div>

  <section class="user-container">
    <div class="user-form">
      <h4><%= link_to "<- BACK", user_path(current_user) %></h4>

      <%= form_for :friend do |f| %>
        <%= f.label "", "Friend's Name" %><br>
        <%= f.text_field :name, required: true %><br><br>

        <%= f.label "Email" %><br>
        <%= f.email_field :email, required: true %><br><br>

        <%= f.label "Phone"%><br>
        <%= f.telephone_field :phone, required: true %><br><br>

        <%= f.submit "#{submit_button_display(@friend)}" %><br><br>
      <% end %>

      <%= display_delete?(@friend) %>

      <p><%= flash[:message] %><p>
    </div>
  </section>

  <section class="placeholder">
    <div><%= inline_svg_tag "man-petting-dog.svg" %></div>
  </section>
</div>
