<div class="dashboard">
  <nav>
    <div><%= link_to "WUPHF", user_path(current_user) %></div>
  </nav>

  <div class="logout"><%= link_to "Logout", logout_path, method: :post %></div>

  <section class="msg-container">
    <div class="msg-form">
      <% if current_user.friends.present? %>
        <%= render 'message' %>
      <% else %>
        <%= render 'first-wuphf' %>
      <% end %>
    </div>
  </section>

  <section class="friend-container">
    <div class="empty">
      <%= link_to "+ Add Friend", new_user_friend_path(current_user) %><br>
        <% if current_user.friends.present? %>
      <%= link_to "// All Friends", user_friends_path(current_user) %>
    </div>
      <%= render 'cards' %>
      <% end %>
  </section>

</div>
