<div class="dashboard">
  <nav>
    <div><a href="/users/<%= current_user.id %>">WUPHF</a></div>
  </nav>

  <div class="logout"><%= link_to "Logout", logout_path, method: :post %></div>

  <section class="msg-container">
    <div class="msg-form">
      <% if current_user.friends.present? %>
        <%= render 'message' %>
      <% else %>
        <%= render 'first-wuphf' %>
      <% end %>
    </div>
  </section>

  <section class="friend-container">
    <div class="">
      <%= render 'cards' %>
    </div>
  </section>

</div>
